# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.xcuserstate
*.xcscmblueprint
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip

# CocoaPods
Pods/

# SPM
.swiftpm/
.build/
Package.resolved

# fastlane
fastlane/report.xml
fastlane/screenshots

# IDE
.idea/
.vscode/

# System
.DS_Store

# Release artifacts
build/dmg/*.dmg
build/appcast-archives/
Release/*.dmg
Release/*.zip

# Sparkle
sparkle_private_key
